/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local.example
_ide_helper.php
wiki.torontour.com_users.csv
.phpunit.result.cache

public/css
public/js
public/fonts
public/mix-manifest.json
public/images/vendor
public/client_secret_calendarApi.json
nohup.out
nbproject
index.html